<h1><%= @user.username %></h1>
<% if current_user?(@user) %>
  <p><%= link_to 'Edit account', edit_user_path %></p>
  <p><%= link_to 'Delete account', user_path, method: :delete, data: { confirm: "Are you sure to delete your account?" } %></p>
<% end %>