<% if @post.errors.any? %>
<div class="mx-2"> 
  <h5>Oooops! Something went wrong!</h5>
  <h4>Please, correct the following <%= pluralize(@post.errors.size, 'error') %>:</h4>
  <ol>
    <% @post.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ol>
</div>
<% end %>