 <% list_followers.each do |suggested_person| %>
    <div class="my-2 d-flex justify-content-between">
      <div class="avatar-for-posts col-3 p-0">
        <%= avatar_for(suggested_person) %>
      </div>
      <div class="col-9">
        <span><%= link_to suggested_person.username, suggested_person %></span><span> followed </span><span> by </span><span> <%= suggested_person.followers.first.username %></span>
      </div>
    </div>
<% end %> 