<h1>Football rumours</h1>
<%= render 'form' %>
<% @posts.each do |post| %>
  <div>
    <b><%= post.user.username %></b>
    <%= post.body %>
  </div>
  <% end %>
  <div>
    <h4>Who to follow</h4>
    <% @users.each do |user| %>
      <ul>
        <li><%= link_to user.username, user %></li>
        <li><%# render 'follow_button', :user => User.find(params[:id]) %></li>
        <%# link_to '<button type = "button"> Follow</button>'.html_safe%>
      </ul>
    <% end %>
  </div>