/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

  @import "bootstrap";

  $left-background: #1B2A3D;

  * {
    border: 1px solid green;
  }
 .avatar-image {
   border-radius: 50%;
 }

 .left-section {
   background-color: $left-background;
 }

 #count p {
   color: #8793A3
 }

 .whiter {
   color: #bfccd8;
 }

 .namer {
   color: #5C7085
 }

 .grayer {
   color: #1B2A3D;
 }

 ul > {
   li {
     text-transform: uppercase;
     color: #5B7186;
     list-style-type: none;
     margin: 10px;
     font-weight: bold;
     
   }
   li:hover {
     background-color: #51A5E5;
     a {
      color: white; 
      text-decoration: none;
    }
   }

  }

//  a:hover {
//    text-decoration: none;
//    background-color: #51A5E5;
//    color: white;
//  }